---
---

<div class="main">
    <div class="sponsors">
        <h1>Our sponsors:</h1>
        <div class="logos">
            <img src="logos/aramco.avif" alt="">
            <img src="logos/AWS GLOBAL.avif" alt="">
            <img src="logos/crypto.com.avif" alt="">
            <img src="logos/dhl.avif" alt="">
            <img src="logos/Heineken - Outlined.avif" alt="">
            <img src="logos/pirelli.avif" alt="">
            <img src="logos/qatar.avif" alt="">
            <img src="logos/rolex.avif" alt="">

        </div>
    </div>
</div>



<style>
    .main {
        display: flex;
        justify-content: center;

        margin: 0;

        background-color: rgb(197, 0, 0);
    }

    h1 {
        font-size: 1.3rem;
        color: white;
    }
</style>
