---

---


<header>
    <img src="../images/f1 logo.png" alt="">
    <div class="text">
        <h1>Teams</h1>
        <h1>Circuits</h1>
    </div>
</header>


<style>
    header {
        display: flex;

        background-color: rgb(197, 0, 0);

        gap: 72vw;

        img {
            height: 8vh;
            margin-left: 1rem;
        }
        .text {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 9rem;

            font-size: 1.3rem;
            font-family: f1-reg;
            color: white;
        }

    }
</style>